@import '../../common/styles/theme';

.vz-empty {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: zoomIn;

  .ant-empty-image {
    color: $primary-color;
    background: #fff;
    border: 8px solid #dee3e8;
    box-shadow: 0 18px 12px -12px rgba(0, 0, 0, 0.2);
    width: 164px;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 164px;

    border-radius: 50%;

    svg,
    img {
      width: 88px;
      height: 88px;
    }
  }

  .ant-empty-description {
    margin-top: 44px;
    color: $dark_grey;
  }

  &__title,
  &__description {
    display: block;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 12px;
  }
}
