@import '../../../../../common/styles/theme';
@import '../../../../../common/styles/variables';
.registry-detail {
  &-table-container {
    .ant-table-fixed {
      td {
        background: #eef0f2 !important;

        &::before {
          content: "";
          position: absolute;
          background: #dee3e8 !important;
          height: 1px !important;
          left: 8px !important;
          right: 8px !important;
          bottom: 0 !important;
        }
      }
      
    }
    .rejected,
    .accepted {
      color: $azure;
      padding-right: $btn-border-radius-sm;
      font-size: 16px;
      cursor: default;
    }
    .unknown {
      color: $black;
    }
    .rejected {
      color: $error-color;
    }
  }

  &__accept-orders {
    &--rejected,
    &--accepted {
      color: $azure;
      padding-right: $btn-border-radius-sm;
      font-size: 16px;
      cursor: default;
    }
    &--unknown {
      color: $black;
    }
    &--rejected {
      color: $error-color;
    }
  }

  &-actions {
    min-height: 36px;
    display: flex;
    margin: -13px 0 20px 0;
    button {
      margin-left: 16px;
    }
  }
}

.registry__detail-actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 16px;
  }
}
