@import '../../../../common/styles/variables';
.order-table-container {
  width: 100%;
  &__main {
    height: 100%;
    background: white;
    padding: 5px 0;
    box-shadow:  $shadow;
    border-radius: 8px;
  }
}