.transports, .trailers {
  .vz-address-title {
    font-weight: 500;
    font-size: 12px;
    font-family: 'DIN 2014 Narrow', serif;
    letter-spacing: .4px;
    line-height: 1em;
    color: #4b4c55;
    text-transform: uppercase
  }
}