@import '../../../../common/styles/theme';

.form-field-range-time {
  &__action {
    margin: 0 $control-padding-horizontal 0 auto;
    flex: 0 0 auto;
  }

  &__picker {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    &__split {
      display: block;
      margin: 0 0.5em;
      flex: 0 0 auto;
    }

    &__item {
      &,
      &.ant-time-picker {
        flex: 1 1 auto;
        max-width: 56px;
      }
      .ant-time-picker-icon {
        display: none;
      }
    }
  }

  &__all-day {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    &__label {
      flex: 1 1 100%;
      padding: 0 $control-padding-horizontal;
    }
  }
}
