@import '../common/styles/theme';
.order-select-address {
  position: relative;
  display: inline-flex;
  flex-flow: row nowrap;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  &__text {
    flex: 1 1 auto;
  }
  &__icon {
    padding: 0 5px;
    flex: 0 0 auto;
    color: $primary-color;
  }

  &__clear {
    padding: 0 5px;
    color: $grey_3;
    align-self: stretch;

    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    align-items: center;
  }
}