@import '../../common/styles/variables';
.white-box-modern {
  box-shadow: $shadow;
  background: $white;
  border-radius: $border-radius;

  padding: 15px 24px 12px;

  &__header {
    margin: 1.2em 0 0.6em;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &--type-h1 {
      font-size: 28px;
    }

    &--type-h2 {
      font-size: 20px;
    }

    &--type-h3 {
      font-size: 18px;
    }

    &--hr {
      padding-bottom: 0.3em;
      box-shadow: inset 0 -1px 0 0 rgba(11, 28, 53, 0.08);
      margin-bottom: 0.3em;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: $dark_grey;

      &__icon {
        margin-right: 0.3em;
      }

      &__text {
        font-weight: $bold;
      }
    }

    &--type-h1 &__title__icon {
      border: 4px solid #eef0f2;
      border-radius: 50%;
      background: $white;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 60px;
    }
  }

  &__container > &__header:first-child {
    margin-top: 0.5em;
  }
}
