@import '../../../../common/styles/variables';
$padding: 28px 16px 2px;

.dispatch-detail {
  .order-title {
    position: relative;
    padding: 12px 0 12px !important;

    &.red {
      color: $red;
    }

    &.last {
      &:before {
        border: none;
      }
    }

    &:before {
      content: '';
      width: 95%;
      left: -5px;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid $grey_2;
    }
  }

  .info-title {
    background: $grey_0;
    color: $grey_3;
    font-size: 12px;
    width: 100%;
    padding: 24px 16px 8px;
    text-transform: uppercase;

    &.docs {
      span {
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }

  &-main {
    padding: 0 16px 16px;
  }

  &__tab {
    max-height: 75vh;
    min-height: 75vh;
    overflow-y: auto;
  }

  &__left {
    max-height: 80vh;
    min-height: 80vh;
    overflow-y: auto;
    background-color: #fff;
  }

  &__right {
    max-width: 64%;
    overflow-x: 'auto';
    position: 'relative';
    
    &-content {
      background-color: #fff;
      margin-top: 0px;
    }
  }

  &-head {

    &-top {
      display: flex;
      align-items: center;
      padding: 0 12px;
      position: relative;
      margin-bottom: 16px;
      height: 84px;
      box-shadow: inset 0 -1px 0 0 rgba(11, 28, 53, .08);
      margin-top: 20px;

      .element-icon {
        align-self: baseline;
      }
    }

    &-actions {
      margin-left: auto;
      display: flex;

      .take-button {
        background: #fff;
        border: 1px solid #1fd1d2;
        color: #1fd1d2;
        .icon-auction {
          display: flex;
          align-items: center;

          .element-icon {
            width: 36px;
            height: 36px;
          }
        }
      }

    }
    &__instructions {
      width: 100%;
      padding: 0 16px;
      padding-top: 5px;
    }
  }

  &-title {
    font-size: 28px;

    .view-id {
      font-weight: bolder;
    }
  }

  &__container-shadow {
    box-shadow: $shadow;
    border-radius: 8px;
  }
  &-content {
    .leaflet-container {
      height: 541px;
    }
  }

  &-tab {
    &-documents {
      width: 100%;
    }
  }
  .box-wrapper {
    padding: 0 16px;
    width: 100%;
  }
}