@import '../../common/styles/variables';

.document-view {
  padding: 0 !important;

  .box-wrapper {
    padding: 0 16px;
    width: 100%;
  }

  .vz-form-group__title {
    font-weight: bold;
  }

  &-tab {
    background-color: white;
    height: 100%;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, .05), 0 2px 2px 0 rgba(0, 0, 0, .1), 0 6px 3px 0 rgba(0, 0, 0, .05);
    border-radius: 8px;

    & > .vz-form-row {
      overflow-x: hidden;
    }
  }

  .order-title {
    position: relative;
    padding: 12px 0 12px !important;

    &.last {
      &:before {
        border: none;
      }
    }

    &:before {
      content: '';
      width: 95%;
      left: -5px;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid $grey_2;
    }
  }

  &__container-shadow {
    box-shadow: $shadow;
    border-radius: 8px;
  }

  &__tab {
    max-height: 75vh;
    min-height: 75vh;
    overflow-y: auto;
  }

  &-main {
    padding: 0 16px 16px;
  }


  &-title {
    font-size: 28px;
  }

  &__left {
    max-height: 80vh;
    min-height: 80vh;
    overflow-y: auto;
    background-color: #fff;
  }

  &-head {

    &-top {
      display: flex;
      align-items: center;
      padding: 0 12px;
      position: relative;
      margin-bottom: 16px;
      height: 84px;
      box-shadow: inset 0 -1px 0 0 rgba(11, 28, 53, .08);
    }

    &-actions {
      margin-left: auto;
      display: flex;

      .take-button {
        background: #fff;
        border: 1px solid #1fd1d2;
        color: #1fd1d2;

        .icon-auction {
          display: flex;
          align-items: center;

          .element-icon {
            width: 36px;
            height: 36px;
          }
        }
      }

    }

  }

  &-block {
    .vz-form-item {
      margin-bottom: 5px;
    }
  }
}