.order-accounting-documents {
  padding: 10px;

  &__row {
    flex-basis: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(11,28,53,.08);
    }
  }

  &__doc {
    flex-basis: 48%;
    max-width: 48%;
    padding: 10px 10px 10px 0;
  }
  &__import-doc {
    flex: 0 0 33%;
  }

  &__title {
    margin: 14px 0;
    flex-basis: 100%;
    max-width: 100%;
  }

  & .vz-form-group {
    box-shadow: none;
    padding: 12px 0;
  }
}

.label__disabled {
  background: white;
}