@import 'components/order-lock-publish-no-contour/styles';
@import 'components/order-insufficient-funds-no-card/styles';

@import 'components/form-components/order-contour-tree-select/styles';

@import 'components/forms/order-tariff-publish-form/styles';
@import 'components/forms/order-intercity-bargain-form/styles.scss';
@import 'components/forms/order-rate-publish-form/styles';
@import 'components/forms/order-loader-publish-form/styles';

@import 'pages/order-view/styles';

.dashboard .container.page-orders-add {
  background: #f6f6f6;
}

.order-additional-btns {
  position: absolute;
  right: 0;
}

.order-editor {
  margin: 0 auto;

  &.white-box.extra-wide {
    width: 100%;
    max-width: 1100px;
  }

  .order-calculate {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.ant-modal--empty-cargo-place {
  &::after {
    content: 'В маршруте у адресов нет прикрепленных ГМ';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -100%);
    display: block;
    width: 100%;
    background-color: white;
    color: $red;
    border-radius: 4px;
    border: 1px solid $red;
    padding: 15px 20px;
  }
}
