.address-favorite-remove-action {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: -10px 0 0 -10px;

  .ant-btn {
    margin: 10px 0 0 10px;
  }
}
