.empty-container {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  h2 {
    color: $dark_grey;
    font-weight: $bold;
    font-size: 28px;
  }
  p {
    font-size: 16px;
    font-weight: normal;
    color: $dark_grey;
  }
}
