
.order-choose-address-form {
  &__radio-group {
    display: block;
    &__item {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 8px 0 0 0;
      .ant-radio {
        flex: 0 0 auto
      }
    }
  }
}