@import '../../../common/styles/theme';
.dashboard .container.path-tariffs {
  background: #fff;
  padding: 0;
}

.tariff-list-table-container {
  .ant-table-tbody > tr > td {
    border-bottom: 1px solid $border-color-split;
    &::before {
      display: none;
    }
  }

  .ant-table-tbody > tr {
    &:hover,
    &.ant-table-row-hover {
      > td::before {
        display: none;
      }
    }
  }

  tr.ant-table-expanded-row {
    background: #fafafa;
    box-shadow: inset 0 0 5px #d0cbcb;
    > td:last-child {
      padding: 0;
    }
    > td > .ant-table-wrapper {
      margin: 10px 0 34px 0;
    }
  }
}
