@import "../../common/styles/variables";
@import "./steps/step0/styles";
@import "./steps/step3/styles";

.customer-box {
  font-size: 16px;
  min-height: 56px;
  min-width: 232px;
  padding-left: 16px;
  color: $dark_grey;
  cursor: pointer;
  text-align: left;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.12);
  &:hover,
  &.active {
    min-width: 252px;
    box-shadow: none;
    color: $white;
    background: transparent url('../../common/assets/img/icons/chevron.svg') no-repeat center center;
  }
}

.registration {
  position: relative;

  &__block-wrp {
    width: 600px;
    min-height: 400px;
    flex-direction: column;
    box-shadow: 0 3px 1px 0 rgba(0,0,0,.05), 0 2px 2px 0 rgba(0,0,0,.1), 0 6px 3px 0 rgba(0,0,0,.05);
    text-align: center;
    background: #fff;
    margin: 50px 0;
    border-radius: 5px;
    padding: 30px;
    transition: width 0.3s ease-in-out;

    &--small {
      width: 450px;
    }

    .main-title {
      font-family: DIN\ 2014,-apple-system,sans-serif;
      font-weight: 800;
      font-size: 36px;
      color: #f57b23;
      margin: 0;
    }

    .main-sub-title {
      font-family: DIN\ 2014,-apple-system,sans-serif;
      font-weight: 700;
      font-size: 24px;
      margin: 5px 0 0;
      color: #4b4c55;
      letter-spacing: 0;
    }
  }

  &__button-comeback {
    margin-top: 15px;
  }

  &__progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 0;
    background: $gradient_orange2;
    pointer-events: none;
    transition: width 0.3s ease-in-out;
  }

  img {
    &.bg {
      min-height: 100%;
      min-width: 1024px;
      width: 100%;
      height: auto;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
  .wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-wrapper {
      margin: 32px 0 0 0;
      &.small {
        margin: 44px 0 0 0;
        padding: 0 44px;
      }
    }
  }
  .password-restore {
    color: $azure;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
  }

  &-form {
    .inn-check {
      position: absolute;
      top: -25px;
      left: 5px;
      color: $logoOrange;
      font-weight: 600;
    }
  
    #loader {
      width: 50px;
      height: 5px;
      position: absolute;
      top: 10px;
      right: -33px;
  
      .spinner {
        div {
          height: 5px;
          width: 5px;
        }
      }
    }
  }

  &__link {
    color: #0f94d6;
    &:hover {
      color: #1fd1d2;
    }
  }
}
.registration-terms {
  margin-bottom: 0;
  list-style: none;
  text-align: left;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  li {
    font-size: 16px;
  }
  li:not(:last-child) {
    margin-bottom: 16px;
  }

}
.download-document {
  color: #0f94d6;
  &:hover {
    color: #1fd1d2;
  }
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
}
