@import '../../../common/styles/variables';
@import '../../../common/styles/theme';

.vz-form-group {
  margin-top: -14px;
  box-shadow: inset 0 -1px 0 0 rgba(11, 28, 53, 0.08);
  padding: 12px;

  &__title {
    font-size: 16px;
    color: $dark_grey;
    text-align: left;
    margin: 14px 0 14px 0;
  }

  > *:first-child,
  > .vz-form-row {
    margin-top: 14px;
    margin-bottom: 7px;
  }
}
