.order-intercity-publish-form {
  &__actions {
    margin-bottom: 0;
  }

  .vz-form-group,
  .area {
    padding-right: 0;
    padding-left: 0;
  }
}


.order-rate-publish-form {
  .icon-error {
    right: 0;
    bottom: 15px;
  }
}
