@font-face {
  font-family: 'DIN 2014 Narrow';
  src: url('DIN2014Narrow-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DIN 2014 Narrow';
  src: url('DIN2014Narrow-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'DIN 2014 Narrow';
  src: url('DIN2014Narrow-DemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'DIN 2014 Narrow';
  src: url('DIN2014Narrow-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN 2014 Narrow';
  src: url('DIN2014Narrow-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN 2014 Narrow';
  src: url('DIN2014Narrow-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
