@import '../../../common/styles/variables';

.top-nav {
  position: fixed;
  z-index: 1001;
  width: 100%;
  top: 0;
  box-shadow: $shadow;
  background: $white;
  padding: 0 8px 0;

  &__sidebar {
    min-width: 44px;
  }

  .logo-image {
    height: 44px;
    margin-left: 10px;
    min-width: 44px;

    img {
      height: 100%;
    }
  }

  .left {
    flex: 0.623;
  }

  .nav-group {
    display: flex;

    a {
      cursor: pointer;
      text-decoration: none;
      position: relative;

      &.navs {
        align-items: center;
        justify-content: flex-start;
        border-left: 1px solid $grey_2;
        display: flex;
        font-size: 14px;
        color: $dark_grey;
        text-transform: uppercase;
        letter-spacing: 0.1px;
        line-height: 16px;
        min-width: 200px;

        img {
          margin-left: 12px;
        }

        span {
          &.nav-title {
            font-family: 'DIN 2014 Narrow', serif;
            color: $dark_grey;
            margin-left: 8px;
          }
        }

        &:hover,
        &.active {
          background: $grey_0;
          position: relative;

          &:after {
            content: '';
            background: $gradient_orange2;
            height: 5px;
            width: 100%;
            position: absolute;
            bottom: 0;
          }
        }
      }
    }

    .nav-notify {
      position: absolute;
      top: 6px;
      left: 40px;
    }
  }

  .delegetion {
    display: flex;
    align-items: center !important;
    justify-content: flex-end !important;

    //padding-right: 10px;
    span {
      display: flex;
      width: 50%;
      text-align: right;
      margin-right: 10px;
    }

    .delegetion-notify {
      display: flex;
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }

  .menu-alert {
    position: absolute;
    left: 5px;
    top: 50px;
    -webkit-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    z-index: 10000;
    min-width: 254px;
    background: #fff;
    padding: 10px;

    .title {
      font-family: 'DIN 2014 Narrow', serif;
      font-size: 20px;
    }

    .descr {
      font-size: 14px;
      margin-bottom: 8px;
    }

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
      position: absolute;
      top: -10px;
      transform: translate(10px);
    }
  }

  .profile {
    .menu-dropdown {
      position: fixed;
      top: 55px
    }
  }

  &__left {
    max-width: fit-content;
  }

  &__center {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &-wrapper {
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .nav-group {
      .navs {
        .menu-dropdown {
          position: fixed;
          right: auto;
          top: 60px;
        }
      }
    }
  }
}

.flicker {
  animation: flickerAnimation 0.5s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 650px) {
  .top-nav {
    .profile {
      .title {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  .top-nav {
    &__center {
      display: none;
    }

    justify-content: space-between;
  }
}