.login {

  .main-title {
    font-family: DIN\ 2014,-apple-system,sans-serif;
    font-weight: 800;
    font-size: 36px;
    color: #f57b23;
    margin: 0;
  }

  .ant-btn.wide {
    min-width: 292px;
  }

  .main-sub-title {
    font-family: DIN\ 2014,-apple-system,sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: 5px 0 0;
    color: #4b4c55;
    letter-spacing: 0;
  }

  img {
    &.bg {
      min-height: 100%;
      min-width: 1024px;
      width: 100%;
      height: auto;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
  .wrap {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 488px;
    min-height: 544px;
    flex-direction: column;
    box-shadow: 0 3px 1px 0 rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.1),0 6px 3px 0 rgba(0,0,0,.05);
    text-align: center;
    background: #fff;
    top: 113px;
    border-radius: 5px;
    .form-wrapper {
      padding: 0 65px;
      margin-top: 30px;
      &.small {
        margin: 44px 0 0 0;
        padding: 0 44px;
      }
    }
  }
  .password-restore {
    color: $azure;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
  }
}