@import 'components/cargo-view-info/styles';

@import 'tabs/characteristic/styles';
@import 'tabs/departure/styles';
@import 'tabs/history/styles';

@import '../../../../common/styles/variables';

.cargo-page-view {
  padding: 0 12px;
  height: 100%;
  background-color: #eef0f2;
  & .page-title--hr {
    box-shadow: inset 0 -1px 0 0 rgba(11,28,53,.08);
    border-bottom: 1px solid #eef0f2;
    margin-bottom: 15px;
  }
  &__tabs {
    margin-bottom: 12px;
  }

  &__layout {
    &__second {
      display: flex;
      flex-flow: column nowrap;
    }
    .white-box-modern {
      padding: 0px !important;

      &__container {
          &-title {
            background-color: #fafafa;
            margin-top: 0 !important;
            padding: 24px 16px 8px !important;
          }
          &-item-content {
            font-weight: bold;
            border: none;
          }
      }
    }
  }

  &__tabs {
    flex: 0 0 auto;
  }

  &__body {
    flex: 1 1 auto;
    & .big {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    & .area{
      &-comment {
        padding: 8px 0px;
      }
      &-input {
        width: auto;

        & input {
          text-align: center;
        }
      }
    }
    .agent-page-add {
      top: 0px;
      position: static;
    }
  }
  &__actions {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0px;

    & .ant-btn-primary {
      color: #19b8d4;
      background-color: #fff;
      border-color: #19b8d4;
      text-shadow: 0 -1px 0 rgba(0,0,0,.12);
      box-shadow: 0 2px 0 rgba(0,0,0,.045);
    }
  }
}
