$font-family: 'DIN 2014', sans-serif;
$code-family: 'DIN 2014', serif;
$font-size-base: 16px;
$font-size-sm: 12px;
$line-height-base: 1.42857;

$vz-disabled-bg: #fff;
$vz-select-dropdown-menu-item-padding: 12px;

$vz-table-base-font-size: 14px;
$vz-table-base-line-height: 16px;
$vz-table-row-height: 44px;
$vz-icon-color: #19b8d4;

$black: #000;
$white: #fff;
$grey_3: #9b9fa3;

$text-color: #333;
$text-color-secondary: rgba($black, 0.45);
$text-color-inverse: $white;

$icon-color: inherit;
$icon-color-hover: rgba($black, 0.75);

$heading-color: rgba(#000, 0.85);
$heading-color-dark: $white;

$text-color-dark: rgba($white, 0.85);
$text-color-secondary-dark: rgba($white, 0.65);

$primary-color: #f17737;
$link-color: #1890ff;
$success-color: #52c41a;
$warning-color: #faad14;
$error-color: #bc1a46;

$body-background: #fff;
$component-background: #f6f6f6;

$heading-color: rgba(0, 0, 0, 0.85);

$text-color: rgba(0, 0, 0, 0.65);
$text-color-secondary: rgba(0, 0, 0, 0.45);
$disabled-color: $grey_3;

//$padding-sm: 6px; // Form controls and items
//$padding-xs: 4px; // small items

// Border color
$border-color-base: hsl(0, 0, 85%); // base border outline a component
$border-color-split: hsl(0, 0, 91%); // split border inside a component
$border-color-inverse: #fff;
$border-width-base: 1px; // width of the border for a component
$border-style-base: solid; // style of a components border

// vertical paddings
$padding-lg: 12px; // containers
$padding-md: 10px; // small containers and buttons
$padding-sm: 8px; // Form controls and items
$padding-xs: 8px; // small items

// vertical padding for all form controls
$control-padding-horizontal: $padding-sm;
$control-padding-horizontal-sm: $padding-xs;

$input-padding-horizontal: $control-padding-horizontal - 1px;
$input-padding-horizontal-base: $input-padding-horizontal;
$input-padding-horizontal-sm: $control-padding-horizontal-sm - 1px;
$input-padding-horizontal-lg: $input-padding-horizontal;

$input-padding-vertical-base: 6px;
$input-padding-vertical-sm: 2px;
$input-padding-vertical-lg: 8px;

$input-height-base: 36px;
$input-height-sm: 26px;
$input-height-lg: 44px;

$input-placeholder-color: $grey_3;

// Checkbox
$checkbox-size: 20px;
$checkbox-color: $vz-icon-color;
$checkbox-check-color: #fff;
$checkbox-border-width: $border-width-base;

//Radio
$radio-dot-color: $vz-icon-color;
$radio-size: 20px;

$border-radius-base: 4px;
$border-radius-sm: 2px;
$border-color-split: #dee3e8;

$border-color-base: #d9d9d9;
$box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15);

$form-item-margin-bottom: 24px;

$drawer-body-padding: 24px;

$table-header-color: $grey_3;
$table-padding-vertical: 12px;
$table-padding-horizontal: 16px;
$table-footer-bg: #fafafa;

//ModalDeprecated
$modal-body-padding: 16px;
$modal-content-border-radius: 6px;
$modal-header-padding-vertical: 16px;
$modal-header-padding-horizontal: 16px;
$modal-header-padding-bottom: 8px;
$modal-footer-padding-vertical: 16px;
$modal-footer-padding-horizontal: 16px;

// Button
$btn-primary-bg: $vz-icon-color;
$btn-height-base: 36px;
$btn-height-lg: 40px;
$btn-height-sm: 28px;
$btn-border-radius-base: 24px;
$btn-border-radius-sm: 12px;
$btn-padding-base: 0 16px;
$btn-padding-lg: 0 18px;
$btn-padding-sm: 0 12px;



// Progress
$progress-default-color: $vz-icon-color;
$progress-text-color: $text-color;
$progress-radius: 100px;
