@import '../../../common/styles/typography';
.page-title {
  margin: 0 0 33px 0;

  padding: 16px 16px 0;

  hr {
    margin: 16px 0;
  }

  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  

  &__title {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    flex: 1 1 auto;
    flex-direction: column;

    
    &__text {
      letter-spacing: -0.4px;
      line-height: $bigFontLineHeight;
      font-size: $bigFont;
      font-weight: 700;
      margin: 0;

    }

    .element-icon {
      margin-right: 12px;
    }
  }

  &__subtitle {
    & .status-title {
      padding-top: 2px;
    }
  }

  &__extra {
    flex: 0 0 auto;
    margin-left: 16px;
  }

  &--hr {
    margin-bottom: 0;
  }
}
