@import '../../../common/styles/theme';
.vz-form-field-dragger {
  position: relative;
  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &.field-has-error &__dragger {
    border-color: $error-color;
  }
}
