@import '../../../../common/styles/theme';

.bargain-action-add {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  margin-left: -10px;

  > * {
    margin-left: 10px;
  }

  .ant-btn-icon-only {
    border-radius: 4px;
    line-height: 36px;
    &.ant-btn-sm {
      line-height: 28px;
    }
  }
}
