@import '../common/styles/theme';
@import '../common/styles/variables';
@import 'form-components/order-payment-number-editor/styles';
@import 'form-components/order-payment-delete-service/styles';

.order-payment-details {
  &__total {
    display: flex;
    flex-flow: column nowrap;
    
    font-weight: 700;
    font-size: 18px;
    color: $dark_grey;
    &__group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row nowrap;
      padding: 12px 0;
    }
    &__value {
      text-align: right;
    }
  }

  .ant-table-bordered .ant-table-body > table {
    border: none;
  }

  .ant-table-tbody > tr > td {
    font-family: 'DIN 2014 Narrow', serif;
    font-weight: 400;
    font-size: 16px;
    color: $dark_grey;
    &::before {
      display: none;
    }
  }

  .ant-table.ant-table-bordered .ant-table-footer {
    border: none;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 12px;
      right: 0;
      background-image: linear-gradient(180deg, rgba(black, 0.1) 0%, rgba(black, 0) 100%);
    }
  }
}
