.order-contour-tree-select {
  &__dropdown {
    .ant-select-tree li span.ant-select-tree-iconEle {
      line-height: 24px;
    }
    .ant-select-tree-title {
      padding-left: 4px;
    }
    .ant-select-tree li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
      background-color: transparent;
    }
  }
}
