@import '../common/styles/theme';
@import '../common/styles/variables';

.order-payment-number-editor {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__number {
    width: 100px;
    .ant-input-number-input {
      text-align: right;
      padding-right: 1.5625em;
    }
  }

  &__prev {
    margin-right: 0.5em;
    color: $grey_3;
    font-weight: 400;
    text-decoration: line-through;
    cursor: pointer;
    padding: 0 0.5em;
  }

  &__text {
    &--editable {
      padding-right: 1.5625em;
      cursor: pointer;
      .anticon {
        margin-right: -1.28125em;
        margin-left: 0.28125em;
      }
    }
    &--updated {
      color: $azure;
    }
  }
}
