@import '../../common/styles/variables';
@import '../../common/styles/theme';

.notifications {
  width: 30px;
  height: 23px;
  margin-right: 8px;

  &__button {
    position: relative;
    width: 100%;
    height: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &__circle {
    height: 10px;
    width: 10px;
    display: block;
    position: absolute;
    top: 1px;
    right: 5px;
    background: $gradient_blue;
    border-radius: 50%;
    border: 2px solid #fff;
  }
}