.templates {
  &__modal {
    .table-config__row {
      height: unset;
      align-items: flex-start;
    }
  }
  &__item {
    &:last-child {
      padding-left: 10px;
    }
  }
}

@media (max-width: 1030px) {
  .templates {
    &__form {
      display: block;
    }
    &__item {
      &:last-child {
        margin-top: 25px;
        padding: 0;
      }
    }
  }
}
