@import '../common/styles/theme';

.order-field-select-vehicle-list {
  &__dropdown {
    .ant-select-dropdown-menu-item {
      padding: 0;
      .order-field-select-vehicle-list__content {
        padding: $vz-select-dropdown-menu-item-padding;
      }
    }
  }

  &__popover {
    width: 400px;
    .ant-popover-inner-content {
      padding: 0;
      img {
        display: block;
        border-radius: $border-radius-base;
      }
    }
  }
}
