@import '../../../common/styles/variables';
.content-box {
  display: flex;
  flex: 1;
  height: 100%;
  .empty-container {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    display: flex;
    h2 {
      color: $dark_grey;
      font-weight: $bold;
      font-size: 28px;
    }
    p {
      font-size: 16px;
      font-weight: normal;
      color: $dark_grey;
    }
    .circle {
      background: $white;
      border: 8px solid $grey_2;
      box-shadow: 0 18px 12px -12px rgba(0, 0, 0, 0.2);
      width: 164px;
      align-items: center;
      justify-content: center;
      height: 164px;
      display: flex;
      border-radius: 50%;
    }
    .complete-steps {
      background-repeat: no-repeat;
      width: 88px;
      height: 312px;
      flex-shrink: 0;
      background-image: url('../../../common/assets/img/icons/complete-steps.png');
      &_item {
        margin: 0 0 24px;
        height: 88px;
        opacity: 0;
      }
      &_active {
        margin: 0 0 24px;
        box-sizing: border-box;
        display: flex;
        width: 88px;
        height: 88px;
        opacity: 1;
        border-radius: 50%;
        background: #f0f2f3;
        position: relative;
        img {
          margin: auto;
          position: relative;
          z-index: 2;
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 1px;
          border-radius: inherit;
          background: linear-gradient(to right, #439ed5, #54c4d3);
        }
        &:after {
          content: '';
          position: absolute;
          top: 7px;
          left: 7px;
          width: 74px;
          height: 74px;
          background-clip: padding-box;
          border: 6px solid transparent;
          background: #f0f2f3;
          border-radius: 50%;
        }
      }
    }
    .complete-steps-items {
      .complete-steps-item {
        height: 112px;
        padding: 8px 0 0 20px;
        div {
          font-size: 20px;
        }
        div.descr {
          font-size: 14px;
          font-weight: normal;
        }
        &:last-child {
          padding: 2px 0 0 20px;
        }
      }
    }
    .complete-steps-items-btns {
      .complete-steps-item {
        height: 112px;
        padding: 28px 0 0 20px;
      }
    }
  }
}
