.password-strength {
  .shape {
    width: 64px;
    height: 8px;
    background: $grey_4;
    margin: 0px 3px 0 4px;
    border-radius: 4px;
    &:first-of-type {
      margin-left: 0;
    }
    &.active {
      background-image: $gradient_blue;
      &.poor {
        background-image: $gradient_red;
      }
    }
  }
}
