@import '../../../common/styles/variables';
.element-button {
  position: relative;
  //display: inline-flex;
  line-height: 16px;
  height: $button-height;
  font-size: 16px;
  padding: 8px 16px;
  border: 0 none;
  border-radius: $border-radius;
  justify-content: center;
  background-color: transparent;
  text-transform: none;
  cursor: pointer;
  z-index: 1;

  .icon-content {
    justify-content: center;
  }

  &.icon-padding {
    padding: 0 24px 0 0;
  }

  &.rounded {
    border-radius: 24px;
  }
  & span {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 24px;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: $border-radius-buttons;
    box-shadow: $shadow;
    content: '';
  }

  &.wide {
    min-width: $wide-button-width;
  }

  &.semi-wide {
    min-width: 216px;
  }

  &.mid {
    min-width: 126px;
    display: block;
  }

  &.full {
    min-width: 100%;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.theme-simple {
    &:before {
      box-shadow: none;
    }
  }

  &.square {
    padding: 0;
    &:before {
      border-radius: 2px;
      align-items: center;
      justify-content: center;
    }
  }

  &.theme-primary {
    color: $white;

    &:before {
      background: $gradient_blue;
      border-color: transparent;
    }
  }

  &.theme-warn {
    color: $white;

    &:before {
      background: $gradient_yellow;
      border-color: transparent;
    }
  }

  &.theme-danger {
    color: $white;

    &:before {
      background: $gradient_red;
      border-color: transparent;
    }
  }

  &.theme-danger-secondary {
    color: $red;

    &:before {
      background: $white;
      border: 1px solid $red;
    }
  }

  &.theme-disabled {
    color: $white;

    &:before {
      background: $grey_3;
      border-color: transparent;
    }
  }

  &.theme-secondary {
    color: $azure;
    &:before {
      background: $white;
      border-color: transparent;
      border-image: $gradient_blue;
      border: 1px solid;
    }

    &:hover {
      color: $white;
      &:before {
        background: $gradient_blue;
        border-color: transparent;
      }
    }
  }
}

.lds-spinner {
  .spinner-wrapper {
    color: $white;
    display: flex;
    position: absolute;
    width: 64px;
    height: 64px;
    transform: scale(0.45);
    top: -14px;
    left: 50%;
    margin-left: -36px;
    &.blue-loader {
      justify-content: center;
      align-items: center;
      margin-top: -28px;
      margin-left: auto;
      div {
        &:after {
          background: $blue;
        }
      }
    }
    div {
      transform-origin: 32px 32px;
      animation: lds-spinner 1.2s linear infinite;
      &:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 3px;
        left: 29px;
        width: 5px;
        height: 14px;
        border-radius: 20%;
        background: #fff;
      }
      &:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
      }
      &:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
      }
      &:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
      }
      &:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
      }
      &:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
      }
      &:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
      }
      &:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
      }
      &:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
      }
      &:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
      }
      &:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
      }
      &:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
      }
      &:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
      }
    }
  }
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
