@import '../../../common/styles/theme';

.tariff-choose-tariffs-form {
  position: relative;

  #loader {
    position: absolute;
    background: rgba(#fff, 0.2);
    left: 0;
    top: 0;
  }

  &__actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 0 -16px;
    padding: 16px 16px 24px 16px;

    .ant-btn {
      margin-left: 16px;
      min-width: 180px;
    }
  }

  &__button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ant-table-tbody > tr > td {
    border-bottom: 1px solid $border-color-split;
    &::before {
      display: none;
    }
  }

  .ant-table-tbody > tr {
    &:hover,
    &.ant-table-row-hover {
      > td::before {
        display: none;
      }
    }
  }

  tr.ant-table-expanded-row {
    background: #fafafa;
    box-shadow: inset 0 0 5px #d0cbcb;
    > td:last-child {
      padding: 0;
    }
    > td > .ant-table-wrapper {
      margin: 10px 0 34px 0;
    }
  }
}
